/* Estilos para el mantenedor de usuarios */

#botonesFormRegUsu {
	float: right;
	right: -10px;
}

/* mantenedor de usuarios */

#tablaMUsuario{
	font-family: Arial, Verdana, sans-serif;
	font-weight:bold;
	font-size: 13px;
	margin: 3px auto 3px auto;
	float: left;
	width: 90%;
}

#FormRegUsuIDUsu,#FormRegUsuNomUsu{
	background: #9A9A9A;
	color: black;
	width: 100%;
}
#botonesFormRegMUsu {
	float: left;
	right: -10px;

}
#FormRegUsuDesc{
	 resize: none;
	 width: 100%;
	 height: 60px;
}
#contTabla{
	padding-top: 1em;
	height: 30px;
}
/* Para marcar la seleccionada en el datatable */
#table_id tr.even.row_selected td {
	background-color: gray;
}

#table_id tr.odd.row_selected td {
	background-color: gray;
}
