/* Estilos para el mantenedor de recursos */

#FormRegRecIDRec, #FormRegRecNomRec{
	background: #9A9A9A;
	color: black;
	width: 100%;
}

#tablaMRecursos{
	font-family: Arial, Verdana, sans-serif;
	font-weight:bold;
	font-size: 13px;
	margin: 3px auto 3px auto;
	float: left;
	width: 90%;
}

#botonesFormRegMRec {
	float: left;
	right: -10px;

}
#FormRegRecDesc{
	 resize: none;
	 width: 100%;
	 height: 60px;
}
#contTablaRec{
	padding-top: 1em;
	height: 30px;
}
/* Para marcar la seleccionada en el datatable */
#tablaRecursos tr.even.row_selected td {
	background-color: gray;
}

#tablaRecursos tr.odd.row_selected td {
	background-color: gray;
}
