/* Estilos para el asignador de perfiles */

#PerAsignados, #PerListado{
	background: #9A9A9A;
	color: black;
	width: 250px;
	height: 90%;
	font-family: Arial, Verdana, sans-serif;
}

#PerAsignados {
	float: left;
}

#PerListado{
	float: right;
}
#tablaAsigPerfiles{
	width:100%;
}
 